/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Changa:wght@200..800&family=Honk&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #42423F;
    font-family: YSText, Helvetica, Arial, sans-serif;
}

/* Header */
header {
    background-color: #96AEBE;
    padding: 0 .5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #7D919E;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*Decorate font*/
    font-family: "Changa", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: large;
    line-height: 25px;
    color: #ffffff;
    /*Set equal height for all phone and laptop*/
    min-height: 50px;

}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo>h1 {
    font-size: 100%;
}

#logo>img {
    max-height: 40px
}

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
}

/*margin between menu buttons*/
#menu>li {
    margin-bottom: 0.5em;
}

/*stick current page*/
.active {
    font-weight: 600;
    font-style: italic;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #96AEBE;
    box-shadow: 0 3px 3px #7D919E;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    padding-left: 1rem;
    font-size: 2rem;
}

/* Main */

main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 50px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

#join-our-team {
    width: 100%;
    text-align: center;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#join-our-team h2 {
    font-weight: normal;
    padding-bottom: 1rem;
}

.button {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 4rem;
    background-color: #272727;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
}

#type-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.type-courses-style {
    border-radius: 10px;
    border: none;
    height: 40vh;
    width: 40vh;
    color: #ffffff;
    padding: 2px 10px;
    margin: 1rem;

    /*Down p to the end section*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#data-analysis {
    background: url('../images/type-courses/data-analysis-first.webp') no-repeat center/cover;
}

#design {
    background: url('../images/type-courses/design-first.jpg') no-repeat center/cover;
}

#programming {
    background: url('../images/type-courses/programming-first.jpg') no-repeat center/cover;
}

#contact-us i {
    font-size: 160%;
    padding: 5%;
    color: #FF8236;
}

#contact-us p {
    padding: 1rem;
}

#contact-us>h2 {
    font-size: xx-large;
    width: 100%;
    text-align: center;
    background-color: #EDEDED;
    padding-top: 1rem;
}

#contact-us-items {
    display: flex;
    flex-direction: column;
    background-color: #EDEDED;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.contact-us-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    text-align: center;
    border: outset;
    width: 100%;
    margin: 1rem 0;
    border-right: 2px outset #42423F;
    border-bottom: 2px outset #42423F;

}

/* courses.html*/

#courses-items {
    display: flex;
    flex-direction: column;
}

#courses-items div {
    border-radius: 10px;
    border: none;
    padding: 2px 10px;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    box-shadow: 0 2px 10px #7D919E;

}

#courses-items h2 {
    padding: 1rem 0;
    color: #A51C30;
    text-transform: uppercase;
    font-size: larger;
}

#courses-items img {
    border-radius: 10px;
    width: 100%;
    padding: 5px;
}

#courses-items ul {
    padding: 1rem;
}


#courses-items li {
    padding: 0.5rem;
    list-style: inside;
}

/* Sign up */
#signup {
    background-image: url("../images/sign-up-background.jpg");
    background-size: cover;
    padding: 20px 10%;
    flex-grow: 1;
}

#signup-form {
    color: #fafafa;
    background-color: #7d919eac;
    padding: 30px;
    border-radius: 5px;
}

#signup-form h2 {
    padding-bottom: 20px;
}

#signup-form h3 {
    padding: 10px 0;
}

.text-input {
    background: transparent;
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 5px;
    margin: 5px 0;
    padding: 0 5px;
    height: 25px;
    width: 100%;
}

.checkbox-courses div {
    padding-bottom: 5px;
}

.join-button {
    background-color: #272727a8;
    border: 1px solid #fafafa;
    padding: 1rem 3rem;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #96AEBE;
    color: #ffffff;
    box-shadow: 0 -2px 2px #7D919E;
}

#social-networks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    justify-content: space-evenly;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

#red-heart {
    color: #CC2C1F;
}

/* Media query: tablets and larger(768px and up)*/
@media screen and (min-width: 768px) {

    /* Header */
    /* Logo and menu are under each other*/

    #logo>h1 {
        font-size: 140%;
    }

    nav {
        display: block;
        width: fit-content;
        padding-right: 1rem;
        padding: 0;
        position: relative;
        box-shadow: none;
    }

    #menu {
        position: relative;
        display: flex;
        box-shadow: none;
        font-size: 120%;
    }

    #menu>li {
        margin-bottom: 0;
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main */
    main {
        /* Add margin at the top to prevent content from being covered by the header */
        margin-top: 50px;

    }

    #join-our-team h2 {
        font-size: 250%;
    }

    #type-courses {
        flex-direction: row;
    }

    #contact-us-items {
        flex-direction: row;
    }

    .contact-us-item {
        margin: 1rem;
    }

    /*Courses.html*/
    #courses-items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #courses-items img {
        height: 12rem;
        width: fit-content;
    }

    #courses-items div {
        width: min-content;
    }

    /*Sign up*/
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
    }

    /* Footer */
    footer {
        flex-direction: row;
    }

    #info-author {
        white-space: nowrap;
        text-align: right;
        padding: 0 0.5rem;
    }
}

/* Large devices (laptops and desktop, 992px and up)*/
@media screen and (min-width: 992px) {

    /* Header */
    /* Logo and menu are in one line*/
    #logo>img {
        max-height: 47px
    }

    /* Add letter stroke*/
    header a:hover {
        text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
    }
    /* Main */

    .button:hover {
        background-color: #272727c9;
        box-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
    }

    /*Change the image and display the h2 when hover*/
    #data-analysis p {
        display: none;
    }

    #data-analysis:hover p {
        display: block;
    }

    #data-analysis:hover {
        background: url('../images/type-courses/data-analysis-second.webp') no-repeat center/cover;
    }

    #design p {
        display: none;
    }

    #design:hover p {
        display: block;
    }

    #design:hover {
        background: url('../images/type-courses/design-second.jpg') no-repeat center/cover;
    }

    #programming p {
        display: none;
    }

    #programming:hover p {
        display: block;
    }

    #programming:hover {
        background: url('../images/type-courses/programming-second.jpg') no-repeat center/cover;
    }

    /* Footer */

    /* Add letter stroke*/
    #social-networks i:hover {
        text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
    }
}